@mixin flex($j: flex-start, $gap: 0) {
  display: flex;
  align-items: center;
  justify-content: $j;
  gap: $gap;
}


@mixin font($size: 16px, $color: $text-color, $line:100%, $weight: 400) {
    font-size: $size;
    font-weight: $weight;
    line-height: $line;   
    color: $color;
  }
  