.header {
  padding: 13px 0;
}
.header__wrapper {
  @include flex(space-between, 0);
}
.header__logo {
  cursor: pointer;
}
.header__link {
  @include font(14px, $text-color, 20px, 400);
}
.header__input {
  border: 1px solid $dark-color;
  border-radius: 30px;
  @include flex(flex-start, 0);
  padding: 10px 18px;
  width: 560px;
}
.header__search {
  border: none;
  outline: none;
  width: 100%;
}
.header__menu {
  @include flex(flex-start, 20px);
}
.header__icons {
  cursor: pointer;
  @include flex();
}
.header__profile {
  background-color: $dark-color;
  color: $light-color;
  border-radius: 100%;
  padding: 8px;
  cursor: pointer;
}

.search__icon-small {
  display: none;
}

.hamburger__icon {
  display: none;
}

// media

@media only screen and (max-width: 1200px) {
  .header__input {
    width: 300px;
  }
}

@media only screen and (max-width: 1000px) {
  .header__input {
    display: none;
  }
  .search__icon-small {
    display: block;
  }
}

@media only screen and (max-width: 768px) {
  .header__menu {
    display: none;
  }

  .header__profile {
    display: none;
  }

  .header__link {
    display: none;
  }
  .hamburger__icon {
    display: block;
    margin-right: 40px;
  }
  .header__icons img:nth-child(2) {
    display: none;
  }
  .header__icons img:nth-child(4) {
    display: none;
  }
}
